.schedule-title {
    font-size: 35px;
    color: var(--primary-color);
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.schedule-container {
    display: flex;
    flex-direction:column;

  
    align-items:center;
    margin-bottom: 3rem;
}


.schedule-item {
    margin-bottom: 1rem;
    max-width:800px;
    width:100%;
}

.schedule-header {
    background: linear-gradient(130deg, var(--primary-color) 10%, var(--accent-color) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding:2rem;
    border-radius: 10px;
}

.schedule-date {
    font-size: 1.4rem;
    color: var(--background-color);
    margin: 0;
}

.chevron-icon {
    font-size: 1.8rem;
    color: var(--background-color);
}

.schedule-description {
    padding: 1.5rem;
    text-align: justify;
}

    .schedule-description p {
        font-size: 1.1rem;
    }
